@import url("fonts.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

textarea, input {
  border: none;
}

/* ____ Section whitePart ____ */
.whitePart {
  padding: 0px 20px;
  max-width: 100%;
  background: url("../images/purchase-images/texture-whitePart.png") no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pack__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pack__item {
  padding: 110px 40px 90px 40px;
  max-width: 100%;
}

.pack__toning {
  position: absolute;
  top: 95px;
  left: 0px;
  max-width: 100%;
  opacity: 0.45;
}

.payment {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__wrapper {
  max-width: 420px;
}

.payment__title {
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 36px;
  padding-bottom: 35px;
}

.payment__description {
  font-family: 'Montserrat-Light', Arial, Helvetica;
  font-size: 28px;
  padding-bottom: 100px;
  max-width: 420px;
}

.card {
  border-bottom: 4px solid #ff9900;
  position: relative;
  min-height: 220px;
  margin-bottom: 10px;
}

.card__type {
  padding-top: 25px;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 36px;
  text-transform: uppercase;
}

.card__iconsWrapper {
  position: absolute;
  right: 0px;
  top: 0px;
}

.card__copyIcon {
  position: relative;
  bottom: 10px;
}

.card__title {
  margin-top: 80px;
  font-family: 'Montserrat-Light', Arial, Helvetica;
  font-size: 25px;
  display: inline-block;
}

.card__subtitle {
  margin-top: 80px;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 25px;
  text-transform: uppercase;
}

.card__number {
  padding-top: 3px;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 15px;
  word-break: break-all;
}

.addPhoto {
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addPhoto__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 268px;
  height: 270px;
  background-image: url("../images/purchase-images/addPhoto-wrapper.png");
  background-repeat: no-repeat;
}

.addPhoto__input input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 270px;
  cursor: pointer;
}

.addPhoto__icon {
  position: relative;
}

.addPhoto__text {
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 34px;
  position: absolute;
  text-align: center;
  top: 15px;
  left: -35px;
}

/* ____ Section blackPart ____ */
.blackPart {
  height: 980px;
  max-width: 100%;
  background-image: url("../images/purchase-images/texture-blackPart-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connection {
  padding-top: 100px;
  max-width: 520px;
}

.connection__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 690px;
  background-image: url("../images/purchase-images/texture-connection.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.connection__form {
  max-width: 60%;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ff9900;
}

.connection__input {
  font-family: 'Montserrat-Light', Arial, Helvetica;
  font-size: 23px;
  margin-top: 60px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ff9900;
  color: #ff9900 !important;
  background-color: transparent;
}

.connection__submit {
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 29px;
  color: #ffff;
  background-color: transparent;
  border: 5px solid #ff9900;
  border-radius: 100px;
  padding: 15px;
  margin-top: 45px;
}
/*# sourceMappingURL=purschase.css.map */