@import url("/css/fonts.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

textarea, input {
  border: none;
}

/* ____ Section hero ____ */
.navigate {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-height: 43px;
}

.navigate__item {
  padding: 0px 23px 5px;
  position: relative;
}

.navigate__link {
  font-family: 'Roboto-bold', Arial, Helvetica;
  font-size: 13px;
  color: #fff;
  padding-bottom: 6px;
}

.navigate__item:hover .navigate__link {
  text-shadow: 0px 16px 10px #ff9900;
  border-bottom: 2px solid #ff9900;
}

/*small logo in navigation*/
.logo-small-top {
  display: none;
}

.logo-small-center {
  display: inline-block;
  padding: 0px 23px 0px;
}

@media (max-width: 768px) {
  .navigate {
    display: block;
    position: unset;
  }
  .navigate__link {
    background-image: url("/images/texture-burger-link.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    padding: 8px;
  }
  .navigate__item {
    padding: 5px 0px 5px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigate__item:hover .navigate__link {
    text-shadow: unset;
    border-bottom: none;
  }
  .logo-small-top {
    display: inline-block;
    padding: 0px 0px 10px;
  }
  .logo-small-center {
    display: none;
  }
}

.hero {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url("/images/texture-hero.png");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("/images/texture-hero.png");
  -webkit-box-shadow: 0px -85px 75px 5px rgba(0, 0, 0, 0.9) inset;
          box-shadow: 0px -85px 75px 5px rgba(0, 0, 0, 0.9) inset;
  background-size: cover;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -3;
}

/*big center logo*/
.logo-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .logo-big__img {
    max-width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.dot {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dot__item {
  height: 10px;
  width: 10px;
  background-color: #d0d0d0;
  border-radius: 50%;
  position: relative;
}

.dot__item::after {
  content: "";
  position: absolute;
  bottom: 20px;
  height: 10px;
  width: 10px;
  background-color: #d0d0d0;
  opacity: 66%;
  border-radius: 50%;
}

.dot__item::before {
  content: "";
  position: absolute;
  bottom: 40px;
  height: 10px;
  width: 10px;
  background-color: #d0d0d0;
  opacity: 33%;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .dot {
    display: none;
  }
  .burger__wrapper {
    position: relative;
    overflow-x: hidden;
  }
  .burger__menu {
    position: fixed;
    z-index: 99;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("/images/texture-burger-menu.png");
    background-size: cover;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  .burger__menu-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .burger__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  .burger__menu-btn {
    width: 30px;
    height: 30px;
    background-color: yellowgreen;
    position: absolute;
    right: -35px;
    top: 10px;
  }
  .burger__content {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 0;
  }
  .burger__content-active {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

/* ____ Section about-us ____ */
.about-us {
  position: relative;
  background-color: #020202;
  -webkit-box-shadow: 0px 8px 32px 28px black;
          box-shadow: 0px 8px 32px 28px black;
}

.about-us__wrapper-0 {
  background-image: url("/images/texture-aboutUs-package.png");
  -webkit-box-shadow: 2px 34px 78px 57px rgba(0, 0, 0, 0.9) inset;
          box-shadow: 2px 34px 78px 57px rgba(0, 0, 0, 0.9) inset;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  position: relative;
}

.about-us__wrapper-1 {
  margin: 0 auto;
  max-width: 1950px;
  min-height: 1325px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #b7b7b7;
  padding-top: 80px;
}

.about-us__wrapper-2 {
  min-height: 100px;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column__left {
  width: 50%;
  text-align: right;
  padding-right: 45px;
  border-right: 2px solid #fff;
  min-height: 1345px;
}

.column__right {
  padding-left: 45px;
  width: 50%;
  border-left: 2px solid #fff;
  min-height: 1345px;
}

@media (max-width: 1115px) {
  .column__left {
    padding-right: 12px;
  }
  .column__right {
    padding-left: 12px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column__mobile {
    width: auto;
    text-align: right;
    border-right: 2px solid #fff;
    border-left: none;
    padding-right: 25px;
    padding-left: 0px;
    margin: 0px 30px;
    min-height: auto;
  }
}

.hidden {
  visibility: hidden;
}

.item__description {
  font-family: 'Roboto-Regular', Arial, Helvetica;
  font-size: 48px;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.item__sub-description {
  padding-top: 7px;
  padding-bottom: 25px;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 18px;
}

.item__content {
  font-family: 'Montserrat-Light', Arial, Helvetica;
  font-size: 18px;
  line-height: 24px;
}

.item__number {
  font-family: 'Ascent-2-Stardom', Arial, Helvetica;
  font-size: 60px;
  color: #fff;
}

@media (max-width: 1115px) {
  .item__description {
    font-size: 38px;
    letter-spacing: 8px;
  }
  .item__sub-description {
    font-size: 16px;
  }
  .item__content {
    font-size: 14px;
  }
  .item__number {
    font-size: 50px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .hidden {
    display: none;
  }
  .item__description {
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Roboto-Black', Arial, Helvetica;
  }
  .item__sub-description {
    font-size: 15px;
  }
  .item__content {
    font-size: 18px;
  }
  .item__number {
    font-size: 35px;
  }
}

.item {
  position: relative;
  z-index: 4;
}

.item__1 {
  padding-top: 12px;
  float: right;
  margin-top: 55px;
  margin-bottom: 90px;
  max-width: 517px;
}

.item__3 {
  float: right;
  margin-bottom: 90px;
  max-width: 556px;
}

.item__5 {
  padding-top: 12px;
  float: right;
  max-width: 582px;
}

.item__2 {
  float: left;
  margin-top: 175px;
  max-width: 671px;
}

.item__4 {
  padding-top: 10px;
  float: left;
  margin-top: 110px;
  max-width: 553px;
}

/* mobile */
@media (max-width: 768px) {
  .item__1 {
    margin-top: -20px;
    margin-bottom: 25px;
  }
  .item__3 {
    margin-bottom: 25px;
  }
  .item__5 {
    padding-top: 0px;
  }
  .item__2 {
    float: right;
    margin-top: 25px;
  }
  .item__4 {
    padding-top: 0px;
    float: right;
    margin-top: 25px;
    margin-bottom: 200px;
  }
}

/* points at line (left column)*/
.item__1, .item__3, .item__5 {
  margin-left: 15px;
  position: relative;
  /* hover */
}

.item__1 .item__description::before, .item__3 .item__description::before, .item__5 .item__description::before {
  content: "";
  position: absolute;
  right: -59px;
  top: 25px;
  height: 25px;
  width: 25px;
  background-color: #000;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.item__1 .item__description:hover::before, .item__3 .item__description:hover::before, .item__5 .item__description:hover::before {
  right: -72px;
  top: 13px;
  height: 48px;
  width: 48px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1115px) {
  .item__1 .item__description::before, .item__3 .item__description::before, .item__5 .item__description::before {
    right: -27px;
    top: 20px;
  }
  .item__1 .item__description:hover::before, .item__3 .item__description:hover::before, .item__5 .item__description:hover::before {
    right: -30px;
    height: 32px;
    width: 32px;
  }
}

/* mobile*/
@media (max-width: 768px) {
  .item__1 .item__description::before, .item__3 .item__description::before, .item__5 .item__description::before {
    right: -38px;
  }
}

/* points at line (right column)*/
.item__2, .item__4 {
  position: relative;
  margin-right: 15px;
  /* hover */
}

.item__2 .item__description::before, .item__4 .item__description::before {
  content: "";
  position: absolute;
  left: -59px;
  top: 25px;
  height: 25px;
  width: 25px;
  background-color: #000;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.item__2 .item__description:hover::before, .item__4 .item__description:hover::before {
  left: -72px;
  top: 13px;
  height: 48px;
  width: 48px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1115px) {
  .item__2 .item__description::before, .item__4 .item__description::before {
    left: -27px;
    top: 20px;
  }
  .item__2 .item__description:hover::before, .item__4 .item__description:hover::before {
    left: -30px;
    height: 32px;
    width: 32px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .item__2, .item__4 {
    margin-right: 0px;
  }
  .item__2 .item__description::before, .item__4 .item__description::before {
    right: -38px;
    left: unset;
  }
}

.item__description:hover {
  letter-spacing: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.bottom-texture {
  width: 100%;
  max-height: 50%;
  z-index: 3;
  position: absolute;
  bottom: -14%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@media (max-width: 1040px) {
  .bottom-texture {
    bottom: -11%;
  }
}

@media (max-width: 768px) {
  .bottom-texture {
    bottom: -8%;
  }
}

@media (max-width: 510px) {
  .bottom-texture {
    bottom: -5%;
  }
}

/* ____ Section packs ____ */
.packs {
  margin-top: 150px;
  min-height: 900px;
}

.packs-slider__item {
  max-width: 460px;
  min-height: 717px;
  background-image: url("/images/texture-packs-slider1.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.packs-slider__item-inner {
  background-image: url("/images/texture-packs-slider2.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 717px;
  border-radius: 15px;
  position: absolute;
  top: 0px;
  z-index: 5;
}

.packs-slider__title {
  background: url("/images/texture-packs-slider3.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Radwave-Demo', Arial, Helvetica;
  font-size: 58px;
  text-align: center;
  padding-top: 60px;
  position: relative;
  z-index: -3;
}

.packs-slider__sub-title {
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 24px;
  padding: 25px 50px 0px 50px;
  color: #2e363e;
}

.packs-slider__content {
  font-family: 'Montserrat-SemiBold', Arial, Helvetica;
  font-size: 19px;
  padding: 30px 45px 0px 50px;
  color: #2e363e;
}

.packs-slider__price {
  position: absolute;
  right: 55px;
  bottom: 20px;
  z-index: -1;
  opacity: 0.9;
}

/* ____ Section signals ____ */
/* slick-slider take on https://ru.stackoverflow.com/questions/760379/3d-%D0%BA%D0%B0%D1%80%D1%83%D1%81%D0%B5%D0%BB%D1%8C-%D0%BD%D0%B0-slick-sliderr */
.signal-slider {
  position: relative;
}

.signal-slider .container {
  width: 680px;
  margin: 0 auto;
  max-width: 80%;
}

.signal-slider .slick-slider {
  position: inherit;
  margin-left: -12%;
  margin-right: -12%;
}

.signal-slider .slick-list {
  padding-left: 15% !important;
  padding-right: 15% !important;
  overflow: visible;
}

@media (max-width: 970px) {
  .signal-slider .slick-list {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

.signal-slider .slick-track {
  max-width: 100% !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.signal-slider .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100% !important;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.signal-slider .slick-snext, .slick-sprev {
  display: block;
}

.signal-slider .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  -webkit-transform: translate3d(0, 0, 20px);
          transform: translate3d(0, 0, 20px);
  z-index: 2;
}

.signal-slider .slick-snext {
  opacity: 1;
  -webkit-transform: translate3d(85%, 0, -150px);
          transform: translate3d(85%, 0, -150px);
  z-index: 1;
}

.signal-slider .slick-sprev {
  opacity: 1;
  -webkit-transform: translate3d(-85%, 0, -150px);
          transform: translate3d(-85%, 0, -150px);
}

@media (max-width: 1250px) {
  .signal-slider .slick-snext {
    opacity: 1;
    -webkit-transform: translate3d(50%, 0, -150px);
            transform: translate3d(50%, 0, -150px);
    z-index: 1;
  }
  .signal-slider .slick-sprev {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, -150px);
            transform: translate3d(-50%, 0, -150px);
  }
}

@media (max-width: 970px) {
  .signal-slider .slick-snext {
    opacity: 1;
    -webkit-transform: translate3d(20%, 0, -150px);
            transform: translate3d(20%, 0, -150px);
    z-index: 1;
  }
  .signal-slider .slick-sprev {
    opacity: 1;
    -webkit-transform: translate3d(-20%, 0, -150px);
            transform: translate3d(-20%, 0, -150px);
  }
}

.signal-slider .signal-slider-img {
  display: block;
  max-width: 100%;
  max-height: 390px;
}

/* arrow signals slider */
.signals-btn {
  position: absolute;
  top: 30%;
  background-size: contain;
  width: 80px;
  height: 80px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: url("/images/arrow-slider-signals.png") 50% 50% no-repeat;
}

.signal-slider .prev-slick {
  left: 20px;
  z-index: 2;
}

.signal-slider .next-slick {
  right: 20px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* mobile */
@media (max-width: 768px) {
  .signals-btn {
    background: url("/images/arrow-slider-signals-mob.png") 48% 48% no-repeat;
    background-color: #ff9900;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 30px #c57600, inset 0px 0px 15px #361303;
            box-shadow: 0px 0px 30px #c57600, inset 0px 0px 15px #361303;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 970px) {
  .signal-slider .prev-slick {
    top: 30%;
    left: 10px;
  }
  .signal-slider .next-slick {
    top: 30%;
    right: 10px;
  }
}

/* --------------------------------*/
.signals {
  background-color: #000;
  padding-bottom: 130px;
}

.signal__title {
  text-align: center;
  font-family: 'Montserrat-SemiBold', Arial, Helvetica;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 50px;
}

.signal-item {
  max-width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.signal-item__inner {
  margin: 135px 105px 60px 105px;
  position: relative;
}

.signal-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signal-item__ringle {
  width: 175px;
  height: 175px;
  border: 6px solid #ff9900;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signal-item__link:hover .signal-item__ringle {
  -webkit-box-shadow: 2px 2px 25px #ff9900,inset 2px 2px 25px #ff9900;
          box-shadow: 2px 2px 25px #ff9900,inset 2px 2px 25px #ff9900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signal-item__description {
  position: absolute;
  bottom: -63px;
  color: #ff9900;
  text-align: center;
  font-family: 'MyriadPro-Regular', Arial, Helvetica;
  font-size: 26px;
  white-space: nowrap;
  min-width: auto;
}

/* 769px flex make 1 item in screen*/
@media (max-width: 1125px) {
  .signal-item {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* ____ light-part-wrapper ____ */
.light-part-wrapper {
  min-height: 2500px;
  position: relative;
  background-image: url("/images/texture-light-part.jpg");
}

/* ____ Section curve-line ____ */
.curve-line__wrapper {
  position: relative;
}

.curve-line__img-1 {
  position: absolute;
  bottom: 3px;
  left: 30px;
}

.curve-line__img-2 {
  width: 60px;
  position: absolute;
  bottom: 25px;
  left: 170px;
}

.curve-line__img-3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

@media (max-width: 1125px) {
  .curve-line__img-3 {
    display: none;
  }
}

@media (max-width: 768px) {
  .curve-line__img-1 {
    width: 40px;
    bottom: 25px;
    left: 20px;
  }
  .curve-line__img-2 {
    width: 30px;
    bottom: 34px;
    left: 100px;
  }
}

.curve {
  /* curve -> https://bennettfeely.com/clippy/ */
  min-height: 300px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 87%);
          clip-path: polygon(0 0, 100% 0, 100% 40%, 0 87%);
  background-color: #000;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media (max-width: 1125px) {
  .curve {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0 87%);
            clip-path: polygon(0 0, 100% 0, 100% 55%, 0 87%);
  }
}

@media (max-width: 750px) {
  .curve {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 63%, 0 87%);
            clip-path: polygon(0 0, 100% 0, 100% 63%, 0 87%);
  }
}

@media (max-width: 600px) {
  .curve {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 69%, 0 87%);
            clip-path: polygon(0 0, 100% 0, 100% 69%, 0 87%);
  }
}

/* ____ Section faq ____ */
@-webkit-keyframes faq-dropdown-down {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
@keyframes faq-dropdown-down {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

.faq__title {
  text-align: center;
  font-family: 'Roboto-Black', Arial, Helvetica;
  text-transform: uppercase;
  font-size: 36px;
}

.faq__dropdown {
  margin-top: 150px;
  margin-left: 200px;
}

.faq__dropbtn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.faq__dropbtn-img {
  -webkit-transition: 1s;
  transition: 1s;
}

.faq__dropbtn {
  border: none;
  background-color: transparent;
  font-family: 'Roboto-Bold', Arial, Helvetica;
  font-size: 26px;
}

.faq__dropbtn:hover {
  cursor: pointer;
}

.faq__dropdown-content {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  font-family: 'Roboto-Light', Arial, Helvetica;
  font-size: 19px;
  max-width: 400px;
  padding: 10px 0px 10px 40px;
}

@media (max-width: 1200px) {
  .faq__dropdown {
    margin-left: 100px;
  }
}

@media (max-width: 900px) {
  .faq__dropdown {
    margin-left: 20px;
  }
  .faq__dropbtn {
    font-size: 24px;
    text-align: left;
  }
}

.faq-show {
  -webkit-animation: faq-dropdown-down;
          animation: faq-dropdown-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.faq-rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 1s;
  transition: 1s;
}

/* ____ Section reviews ____ */
/* mobile */
.reviews {
  position: relative;
  /*general styles*/
  /*individual styles*/
}

.reviews__title {
  margin-top: 100px;
  margin-bottom: 90px;
  text-align: center;
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  text-transform: uppercase;
  font-size: 30px;
}

.reviews__texture-cross {
  position: absolute;
  top: 0px;
  right: 0px;
}

.reviews__img {
  max-width: 115px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 20px;
}

.reviews__content {
  max-width: 470px;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 1px;
  color: #2e363e;
}

.reviews__one {
  max-width: 450px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.reviews__one__content {
  background-image: url("/images/texture-reviews1.png");
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  padding: 205px 80px;
}

.reviews__two {
  max-width: 470px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.reviews__two__content {
  background-image: url("/images/texture-reviews2.png");
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  padding: 195px 110px 0px 40px;
}

.reviews__three {
  max-width: 450px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.reviews__three__content {
  background-image: url("/images/texture-reviews3.png");
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  padding: 230px 130px 0px 50px;
}

/* buttons for reviews slider*/
.reviews-btn {
  position: absolute;
  top: -50px;
  background-image: url("/images/arrow-slider-reviews.png");
  border: none;
  width: 55px;
  height: 38px;
  background-color: transparent;
}

.reviews-slick-nextbtn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 30%;
}

.reviews-slick-prevbtn {
  left: 30%;
}

/* for desktop */
@media (min-width: 1200px) {
  .reviews__slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1140px;
  }
  .reviews {
    overflow: hidden;
    /*general styles desktop*/
    /*individual styles desktop*/
  }
  .reviews__texture-cross {
    display: none;
  }
  .reviews__column-first {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .reviews__column-third {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .reviews__title {
    position: absolute;
    top: 80px;
    font-size: 34px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews__img {
    max-width: 150px;
    height: 160px;
    top: auto;
    left: auto;
    bottom: 0px;
    right: 20px;
  }
  .reviews__content {
    font-size: 17px;
    line-height: 1.1em;
  }
  .reviews__one__img {
    bottom: 20px;
    right: 10px;
  }
  .reviews__one__content {
    padding: 43% 18%;
  }
  .reviews__two {
    max-width: 275px;
    max-height: 500px;
  }
  .reviews__two__img {
    bottom: -12%;
    right: 5%;
  }
  .reviews__two__content {
    padding: 45% 5% 0px 10%;
    max-height: 450px;
    background-size: cover;
  }
  .reviews__three__img {
    right: 10%;
  }
  .reviews__three__content {
    padding: 54% 25% 0px 10%;
  }
}

@media (min-width: 1500px) {
  .reviews {
    /*general styles desktop*/
    /*individual styles desktop*/
  }
  .reviews__img {
    max-width: unset;
    height: unset;
  }
  .reviews__content {
    max-width: 650px;
    max-height: 900px;
    background-size: 100% 100%;
    line-height: 1.3em;
    letter-spacing: 1.2px;
  }
  .reviews__one {
    max-width: 650px;
  }
  .reviews__one__img {
    bottom: -25px;
    right: -60px;
  }
  .reviews__one__content {
    max-height: 686px !important;
    padding: 43% 20%;
    max-width: 550px;
    max-height: 730px;
  }
  .reviews__two {
    max-width: 330px;
    max-height: 600px;
  }
  .reviews__two__img {
    bottom: -10%;
    right: 0%;
  }
  .reviews__two__content {
    padding: 42% 5% 0px 40px;
    max-height: 500px;
  }
  .reviews__three {
    max-width: 590px;
  }
  .reviews__three__img {
    right: 0%;
    bottom: -200px;
  }
  .reviews__three__content {
    padding: 50% 20% 0px 10%;
    height: 800px;
  }
}

@media (max-width: 1200px) {
  .reviews__slider-wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .reviews__one, .reviews__two, .reviews__three {
    overflow: hidden;
  }
  .reviews__one__content, .reviews__two__content, .reviews__three__content {
    font-size: 16px;
    line-height: 0.9em;
  }
}

/* ____ Section connection ____ */
.connection__wrapper {
  max-width: 1075px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

.connection__title {
  padding: 60px 0px 135px 0px;
  text-align: center;
  font-family: 'Roboto-Black', Arial, Helvetica;
  font-size: 36px;
}

.connection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  font-family: 'MyriadPro-Regular', Arial, Helvetica;
  font-size: 34px;
  color: #898888;
  text-align: center;
}

.connection__form > input {
  margin-bottom: 30px;
  text-align: center;
  padding: 20px 0px;
  background-color: transparent;
  border: 1px solid #999999;
}

.connection__textarea {
  margin-bottom: 30px;
  background-color: transparent;
  font-size: 21px;
  padding: 30px 40px;
  resize: none;
  border: 1px solid #999999;
}

.connection__submit {
  color: #fefefe !important;
  background-color: #000 !important;
}

.connection__submit:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .connection__title {
    padding: 30px 0px 165px 0px;
    font-size: 28px;
  }
  .connection__form {
    font-size: 16px;
  }
  .connection__form > input {
    margin-bottom: 48px;
    padding: 9px 0px;
  }
  .connection__textarea {
    margin-bottom: 48px;
    font-size: 16px;
    padding: 10px;
  }
}

/* ____ Section social ____ */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.social__link {
  margin: 0px 40px 80px 40px;
}

@media (max-width: 900px) {
  .social {
    margin-top: 40px;
  }
  .social__link {
    margin: 0px 28px 20px 28px;
  }
}

/*--------------*/
/*# sourceMappingURL=style.css.map */