@import url("fonts.css");
#myBtn {
  width: 70px;
  height: 50px;
  background-color: white;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

textarea, input {
  border: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0px auto;
}

/* ____ Section hero ____ */
.navigate {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-height: 43px;
}

.navigate__item {
  padding: 0px 23px 5px;
  position: relative;
}

.navigate__link {
  font-family: 'Roboto-bold', Arial, Helvetica;
  font-size: 13px;
  color: #fff;
  padding-bottom: 6px;
}

.navigate__item:hover .navigate__link {
  text-shadow: 0px 16px 10px #ff9900;
  border-bottom: 2px solid #ff9900;
}

/*small logo in navigation*/
.logo-small-top {
  display: none;
}

.logo-small-center {
  display: inline-block;
  padding: 0px 23px 0px;
}

@media (max-width: 768px) {
  .navigate {
    display: block;
    position: unset;
  }
  .navigate__link {
    background-image: url("../images/texture-burger-link.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    padding: 8px;
  }
  .navigate__item {
    padding: 5px 0px 5px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigate__item:hover .navigate__link {
    text-shadow: unset;
    border-bottom: none;
  }
  .logo-small-top {
    display: inline-block;
    padding: 0px 0px 10px;
  }
  .logo-small-center {
    display: none;
  }
}

.hero {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url("../images/texture-hero.png");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../images/texture-hero.png");
  -webkit-box-shadow: 0px -85px 75px 5px rgba(0, 0, 0, 0.9) inset;
          box-shadow: 0px -85px 75px 5px rgba(0, 0, 0, 0.9) inset;
  background-size: cover;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -3;
}

/*big center logo*/
.logo-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .logo-big__img {
    max-width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.35;
  }
}

@keyframes blink {
  50% {
    opacity: 0.35;
  }
}

@-webkit-keyframes scale {
  0% {
    height: 10px;
    width: 10px;
  }
  50% {
    height: 17px;
    width: 17px;
  }
  87%, 100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    height: 10px;
    width: 10px;
  }
  50% {
    height: 17px;
    width: 17px;
  }
  87%, 100% {
    opacity: 0;
  }
}

.dot {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dot__item {
  -webkit-animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
  height: 15px;
  width: 15px;
  background-color: #d0d0d0;
  border-radius: 50%;
  position: relative;
  bottom: 60px;
}

.dot__item::after {
  -webkit-animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  content: "";
  position: absolute;
  bottom: -30px;
  height: 15px;
  width: 15px;
  background-color: #d0d0d0;
  border-radius: 50%;
}

.dot__item::before {
  -webkit-animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
  content: "";
  position: absolute;
  bottom: -60px;
  height: 15px;
  width: 15px;
  background-color: #d0d0d0;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .dot {
    display: none;
  }
  .burger__wrapper {
    position: relative;
    overflow-x: hidden;
  }
  .burger__menu {
    position: fixed;
    z-index: 99;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("../images/texture-burger-menu.png");
    background-size: cover;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  .burger__menu-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .burger__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  .burger__content {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 0;
  }
  .burger__content-active {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .burger__menu-btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -45px;
    top: 10px;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ff9900;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

/* ____ Section about-us ____ */
.about-us {
  position: relative;
  z-index: 3;
  background-color: #020202;
  -webkit-box-shadow: 0px 8px 32px 28px black;
          box-shadow: 0px 8px 32px 28px black;
}

.about-us__wrapper-0 {
  background-image: url("../images/texture-aboutUs-package.png");
  -webkit-box-shadow: 2px 34px 78px 57px rgba(0, 0, 0, 0.9) inset;
          box-shadow: 2px 34px 78px 57px rgba(0, 0, 0, 0.9) inset;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  position: relative;
}

.about-us__wrapper-1 {
  margin: 0 auto;
  max-width: 1950px;
  min-height: 1325px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #b7b7b7;
  padding-top: 80px;
}

.about-us__wrapper-2 {
  min-height: 100px;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column__left {
  width: 50%;
  text-align: right;
  padding-right: 45px;
  border-right: 2px solid #fff;
  min-height: 1345px;
}

.column__right {
  padding-left: 45px;
  width: 50%;
  border-left: 2px solid #fff;
  min-height: 1345px;
}

@media (max-width: 1115px) {
  .column__left {
    padding-right: 12px;
  }
  .column__right {
    padding-left: 12px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column__mobile {
    width: auto;
    text-align: right;
    border-right: 2px solid #fff;
    border-left: none;
    padding-right: 25px;
    padding-left: 0px;
    margin: 0px 30px;
    min-height: auto;
  }
}

.hidden {
  visibility: hidden;
}

.item__description {
  font-family: 'Roboto-Regular', Arial, Helvetica;
  font-size: 48px;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.item__sub-description {
  padding-top: 7px;
  padding-bottom: 25px;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 18px;
}

.item__content {
  font-family: 'Montserrat-Light', Arial, Helvetica;
  font-size: 18px;
  line-height: 24px;
}

.item__number {
  font-family: 'Ascent-2-Stardom', Arial, Helvetica;
  font-size: 60px;
  color: #fff;
}

@media (max-width: 1115px) {
  .item__description {
    font-size: 38px;
    letter-spacing: 8px;
  }
  .item__sub-description {
    font-size: 16px;
  }
  .item__content {
    font-size: 14px;
  }
  .item__number {
    font-size: 50px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .hidden {
    display: none;
  }
  .item__description {
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Roboto-Black', Arial, Helvetica;
  }
  .item__sub-description {
    font-size: 15px;
  }
  .item__content {
    font-size: 18px;
  }
  .item__number {
    font-size: 35px;
  }
}

.item {
  position: relative;
  z-index: 4;
}

.item__1 {
  padding-top: 12px;
  float: right;
  margin-top: 55px;
  margin-bottom: 90px;
  max-width: 517px;
}

.item__3 {
  float: right;
  margin-bottom: 90px;
  max-width: 556px;
}

.item__5 {
  padding-top: 12px;
  float: right;
  max-width: 582px;
}

.item__2 {
  float: left;
  margin-top: 175px;
  max-width: 671px;
}

.item__4 {
  padding-top: 10px;
  float: left;
  margin-top: 110px;
  max-width: 553px;
}

._anim-items {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

._activeItem {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

/* mobile */
@media (max-width: 768px) {
  .item__1 {
    margin-top: -20px;
    margin-bottom: 25px;
  }
  .item__3 {
    margin-bottom: 25px;
  }
  .item__5 {
    padding-top: 0px;
  }
  .item__2 {
    float: right;
    margin-top: 25px;
  }
  .item__4 {
    padding-top: 0px;
    float: right;
    margin-top: 25px;
    margin-bottom: 200px;
  }
}

/* points at line (left column)*/
.item__1, .item__3, .item__5 {
  margin-left: 15px;
  position: relative;
  /* hover */
}

.item__1 .item__description::before, .item__3 .item__description::before, .item__5 .item__description::before {
  content: "";
  position: absolute;
  right: -59px;
  top: 25px;
  height: 25px;
  width: 25px;
  background-color: #000;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.item__1 .item__description:hover::before, .item__3 .item__description:hover::before, .item__5 .item__description:hover::before {
  right: -72px;
  top: 13px;
  height: 48px;
  width: 48px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1115px) {
  .item__1 .item__description::before, .item__3 .item__description::before, .item__5 .item__description::before {
    right: -27px;
    top: 20px;
  }
  .item__1 .item__description:hover::before, .item__3 .item__description:hover::before, .item__5 .item__description:hover::before {
    right: -30px;
    height: 32px;
    width: 32px;
  }
}

/* mobile*/
@media (max-width: 768px) {
  .item__1 .item__description::before, .item__3 .item__description::before, .item__5 .item__description::before {
    right: -38px;
  }
  .item__1 .item__description:hover, .item__3 .item__description:hover, .item__5 .item__description:hover {
    letter-spacing: 1px;
  }
  .item__1 .item__description:hover::before, .item__3 .item__description:hover::before, .item__5 .item__description:hover::before {
    right: -38px;
    top: 20px;
    height: 25px;
    width: 25px;
  }
}

/* points at line (right column)*/
.item__2, .item__4 {
  position: relative;
  margin-right: 15px;
  /* hover */
}

.item__2 .item__description::before, .item__4 .item__description::before {
  content: "";
  position: absolute;
  left: -59px;
  top: 25px;
  height: 25px;
  width: 25px;
  background-color: #000;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.item__2 .item__description:hover::before, .item__4 .item__description:hover::before {
  left: -72px;
  top: 13px;
  height: 48px;
  width: 48px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1115px) {
  .item__2 .item__description::before, .item__4 .item__description::before {
    left: -27px;
    top: 20px;
  }
  .item__2 .item__description:hover::before, .item__4 .item__description:hover::before {
    left: -30px;
    height: 32px;
    width: 32px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .item__2, .item__4 {
    margin-right: 0px;
  }
  .item__2 .item__description::before, .item__4 .item__description::before {
    right: -38px;
    left: unset;
  }
  .item__2 .item__description:hover, .item__4 .item__description:hover {
    letter-spacing: 1px;
  }
  .item__2 .item__description:hover::before, .item__4 .item__description:hover::before {
    right: -38px;
    left: unset;
    top: 20px;
    height: 25px;
    width: 25px;
  }
}

.item__description:hover {
  letter-spacing: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.bottom-texture {
  width: 100%;
  max-height: 50%;
  z-index: 3;
  position: absolute;
  bottom: -14%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@media (max-width: 1040px) {
  .bottom-texture {
    bottom: -11%;
  }
}

@media (max-width: 768px) {
  .bottom-texture {
    bottom: -8%;
  }
}

@media (max-width: 510px) {
  .bottom-texture {
    bottom: -5%;
  }
}

/* ____ Section packs ____ */
/* packs-slider*/
.packs-slider__wrapper {
  padding: 20px 20px;
  padding-left: 10px;
}

.packs-slider {
  position: relative;
  top: 0px;
}

.black-part-bottom {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  width: 100%;
  height: 200px;
  background-color: #000;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

@media (min-width: 1520px) {
  .black-part-bottom {
    height: 170px;
  }
}

/* active center item to bottom */
.slick-active-bottom4 .packs-slider__item {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

@media (max-width: 1300px) {
  .slick-active-bottom4 .packs-slider__item {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .slick-active-bottom3 .packs-slider__item {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
}

@media (max-width: 1100px) {
  .slick-active-bottom3 .packs-slider__item {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* arrows*/
.packs-btn {
  background: url("../images/arrow-slider-signals-mob.png") 50% 50% no-repeat;
  background-size: 80%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 35%;
  border: 6px solid #c57600;
  border-radius: 50%;
  cursor: pointer;
}

.packs-slick-nextbtn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 2px;
}

.packs-slick-prevbtn {
  left: 2px;
  z-index: 1;
}

/* main part */
.packs {
  position: relative;
  z-index: 2;
  background-image: url("../images/texture-packs-mobile.png");
  background-size: contain;
}

.packs__title {
  font-size: 28px;
  font-family: 'Roboto-Black', Arial, Helvetica;
  text-transform: uppercase;
  -webkit-transform: translateY(130px);
          transform: translateY(130px);
  text-align: center;
}

@media (min-width: 768px) {
  .packs__title {
    font-size: 36px;
  }
}

.packs-slider {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 55px;
}

.packs-slider__item {
  -webkit-box-shadow: 8px 17px 17px -1px rgba(34, 60, 80, 0.5);
          box-shadow: 8px 17px 17px -1px rgba(34, 60, 80, 0.5);
  margin: 0px auto;
  margin-top: 55px;
  max-width: 460px;
  min-height: 717px;
  background-image: url("../images/texture-packs-slider1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-bottom: 300px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.packs-slider__item img {
  max-width: 200px;
}

.packs-slider__item-inner {
  background-image: url("../images/texture-packs-slider2.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 717px;
  border-radius: 15px;
  position: absolute;
  top: 0px;
  z-index: 5;
}

.packs-slider__title {
  background: url("../images/texture-packs-slider3.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Radwave-Demo', Arial, Helvetica;
  font-size: 58px;
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: -3;
  max-width: 90%;
  margin: 0 auto;
}

.packs-slider__sub-title {
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 24px;
  padding: 20px 50px 0px 50px;
  color: #2e363e;
}

.packs-slider__content {
  font-family: 'Montserrat-SemiBold', Arial, Helvetica;
  font-size: 19px;
  padding: 20px 45px 0px 50px;
  color: #2e363e;
}

.packs-slider__price {
  position: absolute;
  right: 50px;
  bottom: 15px;
  z-index: -1;
  opacity: 0.9;
}

@media (max-width: 1850px) {
  .packs-slider__content {
    font-family: 'Montserrat-SemiBold', Arial, Helvetica;
    font-size: 18px;
    padding: 15px 35px 0px 35px;
    color: #2e363e;
  }
}

@media (max-width: 1679px) {
  .packs-slider__item {
    min-height: 600px;
  }
  .packs-slider__item img {
    max-width: 150px;
  }
  .packs-slider__item-inner {
    min-height: 600px;
  }
  .packs-slider__title {
    font-size: 45px;
    padding-top: 35px;
  }
  .packs-slider__sub-title {
    font-size: 20px;
    padding: 10px 50px 0px 50px;
  }
  .packs-slider__content {
    font-size: 16px;
  }
}

@media (max-width: 1520px) {
  .packs-slider__item {
    min-height: 540px;
  }
  .packs-slider__item img {
    max-width: 130px;
  }
  .packs-slider__item-inner {
    min-height: 540px;
  }
  .packs-slider__title {
    font-size: 35px;
    padding-top: 35px;
  }
  .packs-slider__sub-title {
    font-size: 17px;
    padding: 10px 50px 0px 50px;
  }
  .packs-slider__content {
    font-size: 15px;
    padding: 10px 22px 0px 30px;
  }
}

@media (max-width: 1380px) {
  .packs-slider__content {
    font-size: 14px;
    padding: 15px 15px 0px 35px;
  }
}

@media (max-width: 1300px) {
  .packs-slider__item {
    min-height: 717px;
  }
  .packs-slider__item img {
    max-width: 180px;
  }
  .packs-slider__item-inner {
    min-height: 717px;
  }
  .packs-slider__title {
    font-size: 58px;
    padding-top: 40px;
  }
  .packs-slider__sub-title {
    font-size: 24px;
    padding: 15px 50px 0px 50px;
  }
  .packs-slider__content {
    font-size: 17px;
    padding: 15px 30px 0px 35px;
  }
}

@media (max-width: 1100px) {
  .packs-slider__content {
    font-size: 19px;
    padding: 20px 35px 0px 35px;
  }
}

/* one column style*/
@media (max-width: 1100px) {
  .packs-slider__wrapper {
    padding: 10px 20px;
  }
  .packs-slider {
    margin-top: 60px;
    padding-bottom: 80px;
  }
  .packs-slider__item {
    margin-bottom: 0px;
  }
  .packs-slider .copy-hidden {
    display: none;
  }
}

/*orange vertical line*/
.vertical-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 150px;
  left: 21px;
  height: 110px;
  width: 10px;
  background-color: #ff9900;
  opacity: 0.6;
  border-radius: 5px;
}

@media (max-width: 1679px) {
  .vertical-line::before {
    top: 110px;
    left: 15px;
  }
}

@media (max-width: 1520px) {
  .vertical-line::before {
    top: 80px;
    width: 8px;
  }
}

@media (max-width: 1300px) {
  .vertical-line::before {
    top: 110px;
    left: 15px;
  }
}

@media (max-width: 768px) {
  .packs-slider__content {
    max-height: 380px;
    overflow-y: hidden;
  }
}

/* change height */
@media (min-width: 1100px) {
  .packs {
    max-height: 1100px;
  }
}

@media (min-width: 1300px) {
  .packs {
    max-height: 950px;
  }
}

@media (min-width: 1680px) {
  .packs {
    max-height: 1070px;
  }
}

/* ____ Section signals ____ */
.signals {
  position: relative;
  z-index: 1;
  background-color: #000;
  padding-bottom: 130px;
}

.signal__title {
  text-align: center;
  font-family: 'Montserrat-SemiBold', Arial, Helvetica;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 50px;
}

/* signals slider */
.signals-slider > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* arrows */
.binance-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.binance-button__arrow {
  background: url("../images/arrow-slider-signals.png") 50% 50% no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 5;
}

.binance-button.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1154px) {
  .binance-button {
    width: 80px;
  }
  .binance-button__arrow {
    height: 60px;
  }
}

@media (max-width: 768px) {
  .binance-button__arrow {
    background: url("../images/arrow-slider-signals-mob.png") 48% 48% no-repeat;
    background-color: #ff9900;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 30px #c57600, inset 0px 0px 15px #361303;
            box-shadow: 0px 0px 30px #c57600, inset 0px 0px 15px #361303;
    width: 50px;
    height: 50px;
    margin: 0 20px;
    margin-right: -25px;
  }
}

.slider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.signals-slider .slick-list {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}

.signals-slider .slick-slide {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.signals-slider .slick-slide img {
  width: 100%;
  border-radius: 15px;
}

.signals-slider .slick-center {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  position: relative;
  z-index: 100;
}

@media (max-width: 768px) {
  .signals-slider .slick-center {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* signal item*/
.signal-item {
  max-width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.signal-item__inner {
  margin: 135px 105px 60px 105px;
  position: relative;
}

.signal-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signal-item__ringle {
  width: 175px;
  height: 175px;
  border: 6px solid #ff9900;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signal-item__link:hover .signal-item__ringle {
  -webkit-box-shadow: 2px 2px 25px #ff9900,inset 2px 2px 25px #ff9900;
          box-shadow: 2px 2px 25px #ff9900,inset 2px 2px 25px #ff9900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signal-item__description {
  position: absolute;
  bottom: -63px;
  color: #ff9900;
  text-align: center;
  font-family: 'MyriadPro-Regular', Arial, Helvetica;
  font-size: 26px;
  white-space: nowrap;
  min-width: auto;
}

/* 769px flex make 1 item in screen*/
@media (max-width: 1125px) {
  .signal-item {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* ____ light-part-wrapper ____ */
.light-part-wrapper {
  min-height: 2500px;
  position: relative;
  background-image: url("../images/texture-light-part.jpg");
}

/* ____ Section curve-line ____ */
.curve-line__wrapper {
  position: relative;
}

.curve-line__img-1 {
  position: absolute;
  bottom: 3px;
  left: 30px;
}

.curve-line__img-2 {
  width: 60px;
  position: absolute;
  bottom: 25px;
  left: 170px;
}

.curve-line__img-3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

@media (max-width: 1125px) {
  .curve-line__img-3 {
    display: none;
  }
}

@media (max-width: 768px) {
  .curve-line__img-1 {
    width: 40px;
    bottom: 25px;
    left: 20px;
  }
  .curve-line__img-2 {
    width: 30px;
    bottom: 34px;
    left: 100px;
  }
}

.curve {
  /* curve -> https://bennettfeely.com/clippy/ */
  min-height: 300px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 87%);
          clip-path: polygon(0 0, 100% 0, 100% 40%, 0 87%);
  background-color: #000;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media (max-width: 1125px) {
  .curve {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0 87%);
            clip-path: polygon(0 0, 100% 0, 100% 55%, 0 87%);
  }
}

@media (max-width: 750px) {
  .curve {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 63%, 0 87%);
            clip-path: polygon(0 0, 100% 0, 100% 63%, 0 87%);
  }
}

@media (max-width: 600px) {
  .curve {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 69%, 0 87%);
            clip-path: polygon(0 0, 100% 0, 100% 69%, 0 87%);
  }
}

/* ____ Section faq ____ */
.faq__title {
  padding-top: 30px;
  text-align: center;
  font-family: 'Roboto-Black', Arial, Helvetica;
  text-transform: uppercase;
  font-size: 36px;
}

.faq__dropdown {
  margin-top: 150px;
  margin-left: 200px;
}

.faq__dropbtn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.faq__dropbtn-img {
  -webkit-transition: 1s;
  transition: 1s;
}

.faq__dropbtn {
  border: none;
  background-color: transparent;
  font-family: 'Roboto-Bold', Arial, Helvetica;
  font-size: 26px;
}

.faq__dropbtn:hover {
  cursor: pointer;
}

.faq__dropdown-content {
  height: 0px;
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
  overflow: hidden;
  font-family: 'Roboto-Light', Arial, Helvetica;
  font-size: 19px;
  max-width: 400px;
  padding: 10px 0px 0px 40px;
}

@media (max-width: 1200px) {
  .faq__dropdown {
    margin-left: 100px;
  }
}

@media (max-width: 900px) {
  .faq__dropdown {
    margin-left: 20px;
  }
  .faq__dropbtn {
    font-size: 24px;
    text-align: left;
  }
}

.faq-show {
  height: 150px;
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

.faq-rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 1s;
  transition: 1s;
}

/* ____ Section reviews ____ */
/* mobile */
.reviews {
  position: relative;
  /*general styles*/
  /*individual styles*/
}

.reviews__title {
  margin-top: 200px;
  margin-bottom: 90px;
  text-align: center;
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  text-transform: uppercase;
  font-size: 30px;
}

.reviews__texture-cross {
  position: absolute;
  top: 0px;
  right: 0px;
}

.reviews__img {
  max-width: 130px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 20px;
}

.reviews__content {
  max-width: 470px;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 1px;
  color: #2e363e;
}

.reviews__one {
  max-width: 450px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.reviews__one__content {
  background-image: url("../images/texture-reviews1.png");
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  padding: 205px 80px;
}

.reviews__two {
  max-width: 470px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.reviews__two__content {
  background-image: url("../images/texture-reviews2.png");
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  padding: 195px 110px 0px 40px;
}

.reviews__three {
  max-width: 450px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.reviews__three__content {
  background-image: url("../images/texture-reviews3.png");
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  padding: 230px 130px 0px 50px;
}

/* buttons for reviews slider*/
.reviews-btn {
  position: absolute;
  top: -50px;
  background-image: url("../images/arrow-slider-reviews.png");
  border: none;
  width: 55px;
  height: 38px;
  background-color: transparent;
}

.reviews-slick-nextbtn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 30%;
}

.reviews-slick-prevbtn {
  left: 30%;
  z-index: 2;
}

/* for desktop */
@media (min-width: 1200px) {
  .reviews .slick-track {
    min-height: 650px;
  }
  .reviews .draggable {
    max-width: 90%;
    margin: 0px auto;
  }
  .reviews-btn {
    position: absolute;
    top: 350px;
  }
  .reviews-slick-nextbtn {
    right: 1%;
  }
  .reviews-slick-prevbtn {
    left: 1%;
  }
  .reviews {
    /*general styles desktop*/
    /*individual styles desktop*/
  }
  .reviews__texture-cross {
    display: none;
  }
  .reviews__title {
    font-size: 34px;
    margin-bottom: -30px;
  }
  .reviews__img {
    max-width: 180px;
    height: 180px;
    top: auto;
    left: auto;
  }
  .reviews__content {
    font-size: 16px;
    line-height: 1.0em;
  }
  .reviews__column-first {
    overflow: hidden;
  }
  .reviews__column-second {
    min-height: 720px;
  }
  .reviews__column-third {
    width: 95% !important;
  }
  .reviews__one__img {
    bottom: 50px;
    right: -10px;
  }
  .reviews__one__content {
    max-height: 630px;
    padding: 43% 18%;
    font-size: 15px;
  }
  .reviews__two {
    padding-top: 60px;
    max-width: 275px;
    max-height: 550px;
  }
  .reviews__two__img {
    bottom: -12%;
    right: 5%;
  }
  .reviews__two__content {
    padding: 45% 5% 0px 10%;
    max-height: 450px;
    background-size: cover;
  }
  .reviews__three {
    height: 650px;
    padding-left: 20px;
  }
  .reviews__three__img {
    right: -7%;
    bottom: 0%;
  }
  .reviews__three__content {
    max-height: 650px;
    padding: 55% 20% 0px 10%;
    font-size: 15px;
  }
}

@media (min-width: 1400px) {
  .reviews__three__img {
    right: 0%;
  }
  .reviews__three__content {
    padding: 55% 26% 0px 10%;
  }
}

@media (min-width: 1500px) {
  .reviews {
    /*general styles desktop*/
    /*individual styles desktop*/
  }
  .reviews__img {
    max-width: 185px;
    height: unset;
  }
  .reviews__content {
    max-width: 650px;
    max-height: 900px;
    background-size: 100% 100%;
    line-height: 1.3em;
    letter-spacing: 1.2px;
  }
  .reviews__one {
    max-width: 650px;
  }
  .reviews__one__img {
    bottom: -12px;
    right: -20px;
  }
  .reviews__one__content {
    max-height: 686px !important;
    padding: 41% 20%;
    max-width: 550px;
    max-height: 730px;
    font-size: 16px;
  }
  .reviews__two {
    max-width: 330px;
    min-height: 650px;
  }
  .reviews__two__img {
    bottom: -10%;
    right: 0%;
  }
  .reviews__two__content {
    padding: 42% 5% 0px 40px;
    max-height: 520px;
  }
  .reviews__three {
    height: 670px;
  }
  .reviews__three__img {
    right: -5%;
    bottom: -32px;
  }
  .reviews__three__content {
    padding: 52% 20% 0px 10%;
    height: 690px;
    font-size: 16px;
  }
}

@media (min-width: 1800px) {
  .reviews__one__img {
    right: 10px;
  }
}

@media (max-width: 1200px) {
  .reviews__slider-wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .reviews__one, .reviews__two, .reviews__three {
    overflow: hidden;
  }
  .reviews__one__content, .reviews__two__content, .reviews__three__content {
    font-size: 16px;
    line-height: 0.9em;
  }
}

/* ____ Section connection ____ */
.connection__wrapper {
  max-width: 1075px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

.connection__title {
  padding: 60px 0px 135px 0px;
  text-align: center;
  font-family: 'Roboto-Black', Arial, Helvetica;
  font-size: 36px;
}

.connection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  font-family: 'MyriadPro-Regular', Arial, Helvetica;
  font-size: 34px;
  color: #898888;
  text-align: center;
}

.connection__form > input {
  margin-bottom: 30px;
  text-align: center;
  padding: 20px 0px;
  background-color: transparent;
  border: 1px solid #999999;
}

.connection__textarea {
  margin-bottom: 30px;
  background-color: transparent;
  font-size: 21px;
  padding: 30px 40px;
  resize: none;
  border: 1px solid #999999;
}

.connection__submit {
  color: #fefefe !important;
  background-color: #000 !important;
}

.connection__submit:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .connection__title {
    padding: 30px 0px 165px 0px;
    font-size: 28px;
  }
  .connection__form {
    font-size: 16px;
  }
  .connection__form > input {
    margin-bottom: 48px;
    padding: 9px 0px;
  }
  .connection__textarea {
    margin-bottom: 48px;
    font-size: 16px;
    padding: 10px;
  }
}

/* ____ Section social ____ */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.social__link {
  margin: 0px 40px 80px 40px;
}

@media (max-width: 900px) {
  .social {
    margin-top: 40px;
  }
  .social__link {
    margin: 0px 28px 20px 28px;
  }
}

/*----------------------------------------*/
/*----------------------------------------*/
/* ____ Modal window ____ */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 3px solid #888;
  width: 95%;
  height: 95%;
  position: relative;
}

@media (max-width: 768px) {
  .modal {
    padding-top: 0px;
  }
  .modal-content {
    width: 100%;
    height: 100%;
  }
}

/* The Close Button */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  background-image: url("../images/purchase-images/arrow-back.png");
  background-size: contain;
  width: 40px;
  height: 40px;
}

/*----------------------------------------*/
/* ____ Modal content ____ */
/* ____ Section whitePart ____ */
.whitePart {
  padding: 0px 20px;
  max-width: 100%;
  background: url("../images/purchase-images/texture-whitePart.png") no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .whitePart {
    padding: 0px 30px;
    background: url("../images/purchase-images/texture-whitePart-desktop.png") no-repeat;
    background-size: 100% 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 75%;
    height: 100%;
  }
}

/*img pack*/
.pack__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pack__item {
  padding: 110px 40px 90px 40px;
  max-width: 100%;
}

.pack__toning {
  position: absolute;
  top: 95px;
  left: 0px;
  max-width: 100%;
  opacity: 0.45;
}

@media (min-width: 768px) {
  .pack__wrapper {
    width: 340px;
  }
  .pack__item {
    padding: 0px 0px 0px 0px;
    width: 270px;
  }
  .pack__toning {
    width: 340px;
    top: -20px;
  }
  /*adaptive height in desktop*/
}

@media (min-width: 768px) and (max-height: 600px) {
  .pack__wrapper {
    width: 270px;
  }
  .pack__item {
    padding: 0px 0px 0px 0px;
    width: 200px;
  }
  .pack__toning {
    width: 270px;
    top: -20px;
  }
}

/*column width description, add photo and cards*/
.payment {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__wrapper {
  max-width: 420px;
}

.payment__title {
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 36px;
  padding-bottom: 35px;
}

.payment__description {
  font-family: 'Montserrat-Light', Arial, Helvetica;
  font-size: 28px;
  padding-bottom: 100px;
  max-width: 420px;
}

@media (min-width: 768px) {
  .payment {
    padding: unset;
    max-width: 450px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .payment__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .payment__title {
    font-size: 3.6vh;
    padding-bottom: 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .payment__description {
    padding-bottom: 20px;
    max-width: 720px;
    font-size: 2.5vh;
  }
}

/*credit cards*/
.card {
  border-bottom: 4px solid #ff9900;
  position: relative;
  min-height: 220px;
  margin-bottom: 10px;
}

.card__type {
  padding-top: 25px;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 36px;
  text-transform: uppercase;
}

.card__iconsWrapper {
  position: absolute;
  right: 0px;
  top: 0px;
}

.card__copyIcon {
  position: relative;
  bottom: 10px;
}

.card__title {
  margin-top: 80px;
  font-family: 'Montserrat-Light', Arial, Helvetica;
  font-size: 25px;
  display: inline-block;
}

.card__subtitle {
  margin-top: 80px;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 25px;
  text-transform: uppercase;
}

.card__number {
  padding-top: 3px;
  font-family: 'Montserrat-Black', Arial, Helvetica;
  font-size: 15px;
  word-break: break-all;
}

@media (min-width: 768px) {
  .cards {
    padding-right: 35px;
  }
  .card {
    min-height: 85px;
  }
  .card__type {
    padding-top: 10px;
    font-size: 3.2vh;
  }
  .card__iconsWrapper {
    right: -50px;
    top: -5px;
  }
  .card__copyIcon {
    display: none;
  }
  .card__title {
    margin-top: 30px;
    font-size: 2vh;
  }
  .card__subtitle {
    margin-top: 30px;
    font-size: 2vh;
  }
  .card__number {
    padding-bottom: 10px;
    font-size: 1.4vh;
    padding-right: 98px;
  }
  .card__qrIcon {
    width: 70%;
  }
}

/*input -> add photo*/
.addPhoto {
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addPhoto__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 268px;
  height: 270px;
  background-image: url("../images/purchase-images/addPhoto-wrapper.png");
  background-repeat: no-repeat;
}

.addPhoto__customInput {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50px;
}

.addPhoto__iconWrapper {
  position: relative;
}

.addPhoto__text {
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 34px;
  position: absolute;
  text-align: center;
  top: 15px;
  left: -35px;
}

@media (min-width: 768px) {
  .addPhoto {
    height: 120px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .addPhoto__input {
    width: 110px;
    height: 100px;
    background-size: contain;
  }
  .addPhoto__input input {
    position: absolute;
    z-index: 1;
    height: 100px;
    width: 100%;
  }
  .addPhoto__icon {
    width: 50%;
    position: relative;
    left: 22px;
  }
  .addPhoto__text {
    font-size: 15px;
    top: 13px;
    left: -9px;
  }
}

/* ____ Section blackPart ____ */
.blackPart {
  height: 980px;
  max-width: 100%;
  background-image: url("../images/purchase-images/texture-blackPart-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .blackPart {
    height: 100%;
    width: 25%;
  }
}

/*client form*/
.clientInfo {
  padding-top: 100px;
  max-width: 520px;
}

.clientInfo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 690px;
  background-image: url("../images/purchase-images/texture-connection.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.clientInfo__form {
  max-width: 60%;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ff9900;
}

.clientInfo__input {
  font-family: 'Montserrat-Light', Arial, Helvetica;
  font-size: 23px;
  margin-top: 60px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ff9900;
  color: #ff9900 !important;
  background-color: transparent;
}

.clientInfo__submit {
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 29px;
  color: #ffff;
  background-color: transparent;
  border: 5px solid #ff9900;
  border-radius: 100px;
  padding: 15px;
  margin-top: 45px;
}

@media (min-width: 768px) {
  .clientInfo {
    height: 100%;
    width: 90%;
  }
  .clientInfo__wrapper {
    height: 80%;
  }
  .clientInfo__form {
    max-width: 65%;
    padding-top: 15%;
  }
  .clientInfo__input {
    font-size: 2vh;
    margin-top: 15%;
    padding-bottom: 5px;
  }
  .clientInfo__submit {
    font-size: 2.7vh;
    border: 4px solid #ff9900;
    padding: 10px;
    margin-top: 20%;
  }
  /*adaptive height in desktop*/
}

@media (min-width: 768px) and (max-height: 600px) {
  .clientInfo__form {
    padding-top: 5%;
  }
}

/*wrapper for desktop*/
@media (min-width: 768px) {
  .wrapperPurchase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */