@import 'vars';
@import url('fonts.css');

html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
ul,p{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
}
textarea, input{
  border: none;
}
.wrapper{
  max-width: 1920px;
  margin: 0px auto;
}

/*----------------------------------------*/
/* ____ Section hero ____ */

.navigate{
  position: absolute;
  top: 0px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-height: 43px;
  &__item{
  padding: 0px 23px 5px;
  position: relative;
  }
  &__link{
    font-family: 'Roboto-bold', Arial, Helvetica;
    font-size: 13px;
    color: #fff;
    padding-bottom: 6px;
  }
  &__item:hover{
    .navigate__link{
      text-shadow: 0px 16px 10px #ff9900;
      border-bottom: 2px solid #ff9900;
    }   
 }
}
/*small logo in navigation*/
.logo-small-top{
  display: none;
}
.logo-small-center{
  display: inline-block;
  padding: 0px 23px 0px;
}
@media(max-width:768px){
  .navigate{
    display: block;
    position: unset;
    &__link{
      background-image: url('../images/texture-burger-link.png');
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 25px;
      padding: 8px;     
    }
    &__item{
      padding: 5px 0px 5px;
      position: relative;
      display: flex;
      justify-content: center;
      } 
    &__item:hover{
      .navigate__link{
        text-shadow: unset;
        border-bottom: none;
      }   
    } 
  }
  .logo-small-top{
    display: inline-block;
    padding: 0px 0px 10px;
  }
  .logo-small-center{
    display: none;
  }
}
.hero{
  min-height: 100vh;
  background:linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9) ), url("../images/texture-hero.png");
  box-shadow: 0px -85px 75px 5px rgba(0, 0, 0, 0.9) inset;
  background-size: cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -3;
  }
  /*big center logo*/
.logo-big{
  display: flex;
  justify-content: center;
}
@media(max-width:768px){
  .logo-big{
    &__img{
      max-width: 80%;
      height: fit-content;
      }
  }
}
@keyframes blink {
  50% {
    opacity: 0.35;
  }
}

@keyframes scale {
  0% {
   
    height: 10px;
    width: 10px;
  }
  50% {
    
    height: 17px;
    width: 17px;
  }
  87%, 100% {
    opacity: 0;
  }
}

.dot{
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  bottom: 25px;
  display: flex;
  justify-content: center;
  &__item{
     animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
    height: 15px;
    width: 15px;
    background-color: #d0d0d0;
    border-radius: 50%;
    position: relative;
    bottom: 60px;
    &::after{
       animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
       animation-delay: 300ms;
      content: "";
      position: absolute;
      bottom: -30px;
      height: 15px;
      width: 15px;
      background-color: #d0d0d0;
      border-radius: 50%;
    }
    &::before{
       animation: scale 2.5s infinite cubic-bezier(0, 0, 0.49, 1.02);
       animation-delay: 550ms;
      content: "";
      position: absolute;
      bottom: -60px;
      height: 15px;
      width: 15px;
      background-color: #d0d0d0;
      border-radius: 50%;
    }
  }
}
@media(max-width:768px){
.dot{
  display: none;
}
.burger{
  &__wrapper{
  position: relative;
  overflow-x: hidden;
  }
  &__menu{
    position: fixed;
    z-index: 99;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('../images/texture-burger-menu.png');
    background-size: cover;
    transition: 0.5s;
    transform: translateX(-101%);
  }
  &__menu-active{
    transform: translateX(0%);
  }
  &__menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%; 
  }
  &__content{
    transition: 0.5s;
    position: relative;
    z-index: 0;
  }
  &__content-active{
    transform: translateX(50%);
  }
}
.burger__menu-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  right: -45px;
  top: 10px;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ff9900;;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
}

/*----------------------------------------*/
/* ____ Section about-us ____ */

.about-us{
  position:relative;
  z-index: 3;
  background-color: #020202;
  box-shadow: 0px 8px 32px 28px rgba(0, 0, 0, 1);
  &__wrapper-0{
    background-image: url("../images/texture-aboutUs-package.png");
    box-shadow: 2px 34px 78px 57px rgba(0, 0, 0, 0.9) inset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    position: relative;
  }
  &__wrapper-1{
    margin: 0 auto;
    max-width: 1950px;
    min-height: 1325px;
    background-color: rgba(0, 0, 0, 0.2);
    color:#b7b7b7;
    padding-top: 80px;
  }
  &__wrapper-2{
    min-height: 100px;
    width: 100%;
    z-index: 2;
    background-color: #fff;
  }
} 
.column{
  display: flex;
  justify-content: center;
  &__left{
    width: 50%;
    text-align: right;
    padding-right: 45px;
    border-right: 2px solid #fff;
    min-height: 1345px;
 }
  &__right{
    padding-left: 45px;
    width: 50%;
    border-left: 2px solid #fff;
    min-height: 1345px;
  }
}
@media(max-width:1115px){
  .column{
    &__left{
      padding-right: 12px;
   }
    &__right{
      padding-left: 12px;
    }
  }
}
/* mobile */
@media(max-width:768px){
  .column{
    flex-direction: column;
    &__mobile{
      width: auto;
      text-align: right;
      border-right: 2px solid #fff;
      border-left: none;
      padding-right: 25px;
      padding-left: 0px;
      margin: 0px 30px;
      min-height: auto;
    }
  }
}
.hidden{
  visibility: hidden;
}
.item{
  &__description{
    font-family: 'Roboto-Regular', Arial, Helvetica;
    font-size: 48px;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
  }
  &__sub-description{
    padding-top: 7px;
    padding-bottom: 25px;
    font-family: 'Montserrat-Black', Arial, Helvetica;
    font-size: 18px;
    }
  &__content{
    font-family: 'Montserrat-Light', Arial, Helvetica;
    font-size: 18px;
    line-height: 24px;
    }
  &__number{
    font-family: 'Ascent-2-Stardom', Arial, Helvetica;
    font-size: 60px;
    color: #fff; 
  }
}
@media(max-width:1115px){
.item{
  &__description{
    font-size: 38px;
    letter-spacing: 8px;
  }
  &__sub-description{
      font-size: 16px;
    }
  &__content{
    font-size: 14px;
    }
  &__number{
    font-size: 50px;
  }
  }
}
/* mobile */
@media(max-width:768px){
  .hidden{
    display: none;
  }
  .item{
    &__description{
      font-size: 24px;
      letter-spacing: 1px;
      font-family: 'Roboto-Black', Arial, Helvetica;
    }
    &__sub-description{
        font-size: 15px;
    }
    &__content{
      font-size: 18px;
    }
    &__number{
      font-size: 35px;
    }
    }
}
.item{
  position: relative;
  z-index: 4;
  &__1{
    padding-top: 12px ;
    float: right;
    margin-top: 55px;  
    margin-bottom: 90px;
    max-width: 517px;

   
  } 
  &__3{
    float: right; 
    margin-bottom: 90px;
    max-width: 556px;
  }
  &__5{
    padding-top: 12px ;
    float: right; 
    max-width: 582px;
  }
  &__2{
    float: left; 
    margin-top: 175px;
    max-width: 671px;
  }
  &__4{
    padding-top: 10px;
    float: left;
    margin-top: 110px;
    max-width: 553px;
  }
 }
 ._anim-items{
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.8s ease;
 }
._activeItem{
  transform: translateY(0%);
   opacity: 1;
}
/* mobile */
 @media(max-width:768px){
  .item{
    &__1{
      margin-top: -20px; 
      margin-bottom: 25px;
    } 
    &__3{
      margin-bottom: 25px;
    }
    &__5{
      padding-top: 0px ;
    }
    &__2{
      float: right;
      margin-top: 25px;
    }
    &__4{
      padding-top: 0px;
      float: right;
      margin-top: 25px;
      margin-bottom: 200px;
    }
  }
 }
/* points at line (left column)*/
.item__1, .item__3, .item__5{
  margin-left: 15px;
  position: relative;
  .item__description::before{
    content:"";
    position: absolute;
    right: -59px;
    top: 25px;
    height: 25px;
    width: 25px;
    background-color: #000;
    border: 5px solid #fff;
    border-radius: 50%;
    transition: 1s;
}
/* hover */
.item__description:hover::before{
  right: -72px;
  top: 13px;
  height: 48px;
  width: 48px;
  transition: 1s;
}
  }
@media(max-width:1115px){
  .item__1, .item__3, .item__5{
    .item__description::before{
      right: -27px;
      top: 20px;      
  }
  .item__description:hover::before{
    right: -30px;
    height: 32px;
    width: 32px;
  }
}
}
/* mobile*/
@media(max-width:768px){
  .item__1,.item__3, .item__5{
    .item__description::before{
      right: -38px;
  }
  .item__description:hover{
    letter-spacing: 1px;
   }
   .item__description:hover::before{
    right: -38px;
    top: 20px;
    height: 25px;
    width: 25px;
  }
}
}
/* points at line (right column)*/
.item__2, .item__4{
  position: relative;
  margin-right: 15px;
  .item__description::before{
    content:"";
    position: absolute;
    left: -59px;
    top: 25px;
    height: 25px;
    width: 25px;
    background-color: #000;
    border: 5px solid #fff;
    border-radius: 50%;
    transition: 1s;
}
/* hover */
.item__description:hover::before{
  left: -72px;
  top: 13px;
  height: 48px;
  width: 48px;
  transition: 1s;
}
}
@media(max-width:1115px){
  .item__2, .item__4{
    .item__description::before{
      left: -27px;
      top: 20px;      
  }
  .item__description:hover::before{
    left: -30px;
    height: 32px;
    width: 32px;
 }
}
}
/* mobile */
@media(max-width:768px){
  .item__2, .item__4{
    margin-right: 0px;
    .item__description::before{
      right: -38px;
      left: unset;     
  }
  .item__description:hover{
    letter-spacing: 1px;
   }
   .item__description:hover::before{
    right: -38px;
    left: unset;
    top: 20px;
    height: 25px;
    width: 25px;
  }
}
}
.item{
  &__description:hover{
    letter-spacing: 5px;
    transition: 1s; 
  }
}
.bottom-texture{
  width: 100%;
  max-height: 50%;
  z-index: 3;
  position: absolute;
  bottom: -14%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
@media(max-width:1040px){
  .bottom-texture{
    bottom: -11%;
  }
}
@media(max-width:768px){
  .bottom-texture{
    bottom: -8%;
  }
}
@media(max-width:510px){
  .bottom-texture{
    bottom: -5%;
  }
}

/*----------------------------------------*/
/* ____ Section packs ____ */
/* packs-slider*/
.packs-slider__wrapper{
  padding: 20px 20px;
  padding-left: 10px;
}
.packs-slider{
  position: relative;
  top: 0px;
}
.black-part-bottom{
  transform: translateY(3px);
  width: 100%;
  height: 200px;
  background-color:#000;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}
@media(min-width: 1520px){
  .black-part-bottom{
    height: 170px;
  }
}
/* active center item to bottom */
.slick-active-bottom4 .packs-slider__item{
  transform: translateY(70px);
  transition-duration: 0.4s;
}

@media(max-width: 1300px){
  .slick-active-bottom4 .packs-slider__item{
    transform: translateY(0px);
  }
  .slick-active-bottom3 .packs-slider__item{
    transform: translateY(70px);
    transition-duration: 0.4s;
  }
}
@media(max-width: 1100px){
  .slick-active-bottom3 .packs-slider__item{
    transform: translateY(0px);
  }
}
/* arrows*/
.packs-btn{
  background: url('../images/arrow-slider-signals-mob.png') 50% 50% no-repeat;
  background-size: 80%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 35%;
  border: 6px solid #c57600;
  border-radius: 50%;
  cursor: pointer;
}
.packs-slick-nextbtn{
  transform: rotate(180deg);
  right: 2px;
}
.packs-slick-prevbtn{
  left: 2px;
  z-index: 1;
}
/* main part */
.packs{
  position: relative;
  z-index: 2;
  background-image: url('../images/texture-packs-mobile.png');
  background-size: contain;
  &__title{
    font-size: 28px;
    font-family: 'Roboto-Black', Arial, Helvetica;
    text-transform: uppercase;
    transform: translateY(130px);
    text-align: center;
  }
}
@media(min-width:768px){
  .packs{
&__title{
  font-size: 36px;
}
  }
}
.packs-slider{
  transform: translateY(0px);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 55px;
  &__item{
    box-shadow: 8px 17px 17px -1px rgba(34, 60, 80, 0.5);
    margin: 0px auto;
    margin-top: 55px;
    max-width: 460px;
    min-height: 717px;
    background-image: url('../images/texture-packs-slider1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 300px;
    transition-duration: 0.4s;
  }
  &__item img{
    max-width: 200px ;
  }
  &__item-inner{
    background-image: url('../images/texture-packs-slider2.png'
    );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 717px;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    z-index: 5;
  }
  &__title{
    background: url('../images/texture-packs-slider3.png');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-family: 'Radwave-Demo', Arial, Helvetica;
    font-size: 58px;
    text-align: center;
    padding-top: 50px;
    position: relative;
    z-index: -3;
    max-width: 90%;
    margin: 0 auto;
  }
  &__sub-title{
    font-family: 'Montserrat-Black', Arial, Helvetica;
    font-size: 24px;
    padding: 20px 50px 0px 50px;
    color: #2e363e;
  }
  &__content{
    font-family: 'Montserrat-SemiBold', Arial, Helvetica;
    font-size: 19px;
    padding: 20px 45px 0px 50px;
    color: #2e363e;
  }
  &__price{
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: -1;
    opacity: 0.9;
  }
  &__priceScale{
    transform: scale(1.1, 1.4);
    bottom: 25px;
    right: 25px;
  }
  &__buyButton{
    position: absolute;
    left: 20px;
    bottom: 25px;
    font-size:30px;
    font-family: 'Roboto-Black', Arial, Helvetica;
    text-transform: uppercase;
    border: none;
    background: transparent;
    z-index: 5;
  }
}
@media(max-width:1850px){
  .packs-slider{
    &__content{
      font-family: 'Montserrat-SemiBold', Arial, Helvetica;
      font-size: 18px;
      padding: 15px 35px 0px 35px;
      color: #2e363e;
    }
}
}
@media(max-width:1679px){
  .packs-slider{
    &__item{
      min-height: 600px;
    }
    &__item img{
      max-width: 150px ;
    }
    &__item-inner{
      min-height: 600px;
    }
    &__title{
      font-size: 45px;
      padding-top: 35px;
    }
    &__sub-title{
      font-size: 20px;
      padding: 10px 50px 0px 50px;
    }
    &__content{
      font-size: 16px;
    }
    &__buyButton{
      
      left: 15px;
      bottom: 25px;
      
    }
  }
}
@media(max-width:1520px){
  .packs-slider{
    &__item{
      min-height: 540px;
    }
    &__item img{
      max-width: 130px ;
    }
    &__item-inner{
      min-height: 540px;
    }
    &__title{
      font-size: 35px;
      padding-top: 35px;
    }
    &__sub-title{
      font-size: 17px;
      padding: 10px 50px 0px 50px;
    }
    &__content{
      font-size: 15px;
      padding: 10px 22px 0px 30px;
    }
  }
}
@media(max-width:1380px){
  .packs-slider{
    &__content{
      font-size: 14px;
      padding: 15px 15px 0px 35px;
    }
    &__buyButton{
     
      left: 10px;
      bottom: 20px;
      font-size: 27px;
      
    }
  }
}
@media(max-width:1300px){
  .packs-slider{
    &__item{
      min-height: 717px;
    }
    &__item img{
      max-width: 180px ;
    }
    &__item-inner{
      min-height: 717px;
    }
    &__title{
      font-size: 58px;
      padding-top: 40px;
    }
    &__sub-title{
      font-size: 24px;
    padding: 15px 50px 0px 50px;
    }
    &__content{
      font-size: 17px;
      padding: 15px 30px 0px 35px;
    }
    &__buyButton{
      left: 18px;
      bottom: 25px;
      font-size: 2.2vw;
    }
  }
}
@media(max-width:1100px){
  .packs-slider{
  &__content{
    font-size: 19px;
    padding: 20px 35px 0px 35px;
  }
  &__buyButton{
    left: 20px;
    bottom: 25px;
    font-size: 33px;
  }
  &__priceScale{
      bottom: 30px;
  }
}
}
@media(max-width:455px){
  .packs-slider{
    &__buyButton{
      left: 10px;
      font-size: 28px;
      bottom: 30px;
    }
    &__price{
      right: 5px;
      transform: scale(0.8);
    }
    &__priceScale{
      bottom: 20px;
    }
  }
}
/* one column style*/
@media(max-width:1100px){
  .packs-slider__wrapper{
    padding: 10px 20px;
  }
.packs-slider{
  margin-top: 60px;
  padding-bottom: 80px;
  &__item{
    margin-bottom: 0px;
  }  
  .copy-hidden{
    display: none;
  } 
}
}  
/*orange vertical line*/
.vertical-line::before{
  content: "";
  display: block;
  position: absolute;
  top: 150px;
  left: 21px;
  height: 110px;
  width: 10px;
  background-color: #ff9900;
  opacity: 0.6;
  border-radius: 5px;
}
@media(max-width:1679px){
  .vertical-line::before{
    top: 110px;
    left: 15px;
  }
  }
@media(max-width:1520px){
.vertical-line::before{
  top: 80px;
  width: 8px;
}
}
@media(max-width:1300px){
  .vertical-line::before{
    top: 110px;
    left: 15px;
  }
  }
@media(max-width:768px){
  .packs-slider{
    &__content{
      max-height: 380px;
      overflow-y: hidden;
  }
}
}
/* change height */
@media(min-width:1100px){
  .packs{
    max-height: 1100px;
  }
}
@media(min-width:1300px){
  .packs{
    max-height: 950px;
  }
}
@media(min-width:1680px){
  .packs{
    max-height: 1070px;
  }
}

/*----------------------------------------*/
/* ____ Section signals ____ */

.signals{
  position: relative;
  z-index: 1;
  background-color: #000;
  padding-bottom: 130px;
}
.signal__title{
  text-align: center;
  font-family: 'Montserrat-SemiBold', Arial, Helvetica;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 50px;
}
/* signals slider */
.signals-slider > div{
  display: flex;
  flex-direction: row;
}
/* arrows */
.binance-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  &__arrow{
    background: url("../images/arrow-slider-signals.png")  50% 50% no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 5;
}
}
.binance-button.next{
  transform: rotate(180deg);
}
@media(max-width: 1154px){
  .binance-button {
    width: 80px;
    &__arrow{  
      height: 60px;
    }
    }
}
@media(max-width: 768px){
  .binance-button {
    &__arrow{
      background: url("../images/arrow-slider-signals-mob.png") 48% 48% no-repeat;
      background-color: #ff9900;
      border-radius: 50%;
      box-shadow: 0px 0px 30px #c57600, inset 0px 0px 15px #361303;
      width: 50px;
      height: 50px;
      margin: 0 20px;
      margin-right: -25px;
    }
  }
}
.slider{
  flex-grow: 1;
  overflow: hidden;
}
.signals-slider .slick-list{
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}
.signals-slider .slick-slide {
  transition: all 0.5s ease;
}
.signals-slider .slick-slide img{
  width: 100%;
    border-radius: 15px;
}
.signals-slider .slick-center {
  transform: scale(1.35);
  position: relative;
  z-index: 100;
}
@media(max-width: 768px){
  .signals-slider .slick-center {
    transform: scale(1);
  }
}
 /* signal item*/      

.signal-item{
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  &__inner{
    margin: 135px 105px 60px 105px;
    position: relative;
  }
  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__ringle{
    width: 175px;
    height: 175px;
    border: 6px solid #ff9900;
    border-radius: 50%;
     display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  &__link:hover{
    .signal-item__ringle{
      box-shadow: 2px 2px 25px #ff9900,inset 2px 2px 25px #ff9900;
      transition: 0.5s;
    }
  }
  &__description{
    position: absolute;
    bottom: -63px;
    color: #ff9900;
    text-align: center;
    font-family: 'MyriadPro-Regular', Arial, Helvetica;
    font-size: 26px;
    white-space: nowrap;
    min-width: auto;
}
}
/* 769px flex make 1 item in screen*/
@media(max-width:1125px){
  .signal-item{
    justify-content: space-evenly;
  }
}

/*----------------------------------------*/
/* ____ light-part-wrapper ____ */
.light-part-wrapper{
  min-height: 2500px;
  position: relative;
  background-image: url("../images/texture-light-part.jpg");
}
/* ____ Section curve-line ____ */

.curve-line{
  &__wrapper{
    position: relative;
  }
  &__img-1{
    position: absolute;
    bottom: 3px;
    left: 30px;
  }
  &__img-2{
    width: 60px;
    position: absolute;
    bottom: 25px;
    left: 170px;
  }
  &__img-3{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
@media(max-width:1125px){
  .curve-line{
      &__img-3{
      display: none;
    }
  }
}
@media(max-width:768px){
.curve-line{
  &__img-1{
    width: 40px;
    bottom: 25px;
    left: 20px;
  }
  &__img-2{
    width: 30px;
    bottom: 34px;
    left: 100px;
  }
}
}
.curve{
  /* curve -> https://bennettfeely.com/clippy/ */
  min-height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 87%);
  background-color: #000;
  transform: translateY(-1px);
 }
 @media(max-width:1125px){
  .curve{
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 87%);
  }
}
 @media(max-width:750px){
  .curve{
    clip-path: polygon(0 0, 100% 0, 100% 63%, 0 87%);
  }
}
 @media(max-width:600px){
  .curve{
    clip-path: polygon(0 0, 100% 0, 100% 69%, 0 87%);
  }
}

/*----------------------------------------*/
/* ____ Section faq ____ */
.faq{
  &__title{
    padding-top: 30px;
    text-align: center;
    font-family: 'Roboto-Black', Arial, Helvetica;
    text-transform: uppercase;
    font-size: 36px;
  }
  &__dropdown{
    margin-top: 150px;
    margin-left: 200px;
  }
  &__dropbtn-wrapper{
    display: flex;
    align-items: center;
    margin-top: 45px;
  }
  &__dropbtn-img{
    transition: 1s;
  }
  &__dropbtn{
    border: none;
    background-color: transparent;
    font-family: 'Roboto-Bold', Arial, Helvetica;
    font-size: 26px;
  }
  &__dropbtn:hover{
    cursor: pointer;
  }
  &__dropdown-content{
    height: 0px;
    transition: height 0.5s linear;
    overflow: hidden;
    font-family: 'Roboto-Light', Arial, Helvetica;
    font-size: 19px;
    max-width: 400px;
    padding:10px 0px 0px 40px;
  }
}
@media(max-width:1200px){
.faq{
    &__dropdown{
      margin-left: 100px;
    }
  }
}
@media(max-width:900px){
.faq{
    &__dropdown{
      margin-left: 20px;
    }
    &__dropbtn{
       font-size: 24px;
       text-align: left;
    }
  }
}
.faq-show {
  height: 150px;
  transition: height 0.5s linear;
  }
.faq-rotate{
  transform: rotate(90deg);
  transition: 1s;
}

/*----------------------------------------*/
/* ____ Section reviews ____ */
/* mobile */
.reviews{
  position: relative;
  &__title{
    margin-top: 200px;
    margin-bottom: 90px;
    text-align: center;
    font-family: 'Montserrat-Bold', Arial, Helvetica;
    text-transform: uppercase;
    font-size: 30px;
  }
  &__texture-cross{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  /*general styles*/
  &__img{
    max-width: 130px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 20px;
  }
  &__content{
    max-width: 470px;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Montserrat-Black', Arial, Helvetica;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: 1px;
    color: #2e363e;
  }
  /*individual styles*/
  &__one{
    max-width: 450px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    &__content{
      background-image: url("../images/texture-reviews1.png");
      transform: rotate(5deg);
      padding: 205px 80px;
    }
  } 
  &__two{
    max-width: 470px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    &__content{
      background-image: url("../images/texture-reviews2.png");
      transform: rotate(-3deg);
      padding: 195px 110px 0px 40px;
    }
  }
  &__three{
    max-width: 450px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    &__content{
      background-image: url("../images/texture-reviews3.png");
      transform: rotate(6deg);
      padding: 230px 130px 0px 50px;
    }
  }
}
/* buttons for reviews slider*/
.reviews-btn{
  position: absolute;
  top: -50px;
  background-image: url("../images/arrow-slider-reviews.png");
  border: none;
  width: 55px;
  height: 38px;
  background-color: transparent;
}
.reviews-slick-nextbtn{
  transform: rotate(180deg);
  right: 30%;
}
.reviews-slick-prevbtn{
  left: 30%;
  z-index: 2;
}

/* for desktop */
@media (min-width: 1200px) {
  .reviews .slick-track{
    min-height: 650px;
  }
  .reviews .draggable{
    max-width: 90%;
    margin: 0px auto;
  }
  .reviews-btn{
    position: absolute;
    top: 350px;
  }
  .reviews-slick-nextbtn{
    right: 1%;
  }
  .reviews-slick-prevbtn{
    left: 1%;
  } 
  .reviews{
    /*general styles desktop*/
    &__texture-cross{
      display: none;
    }
    &__title{
      font-size: 34px;
      margin-bottom: -30px;
    }
    &__img{
      max-width: 180px;
      height: 180px;
      top: auto;
      left: auto;
    }
    &__content{
      font-size: 16px;
      line-height: 1.0em;
    }
  /*individual styles desktop*/
  &__column-first{
    overflow: hidden;
  } 
  &__column-second{
    min-height: 720px;
  }
  &__column-third{
    width: 95% !important;
  } 
  &__one{
    &__img{
      bottom: 50px;
      right: -10px;
    }
    &__content{
      max-height: 630px;
      padding: 43% 18%;
      font-size: 15px;
    }
  }
  &__two{
      padding-top: 60px;
      max-width: 275px;
      max-height: 550px;
    &__img{
      bottom: -12%;
      right: 5%;
    }
    &__content{
      padding: 45% 5% 0px 10%;
      max-height: 450px;
      background-size: cover;
    }
  }
  &__three{
    height: 650px;
    padding-left: 20px;
    &__img{
      right: -7%;
      bottom: 0%;
    }
    &__content{
      max-height: 650px;
      padding: 55% 20% 0px 10%;
      font-size: 15px;
    }
  }
  }
}

@media (min-width: 1400px) { 
  .reviews{
    &__three{
      &__img{
        right: 0%;
      }
      &__content{
        padding: 55% 26% 0px 10%;
      }
    }
  }
}

 @media (min-width: 1500px) { 
  .reviews{
  /*general styles desktop*/
    &__img{
      max-width: 185px;
      height: unset;
      }
    &__content{
      max-width: 650px;
      max-height: 900px;
      background-size: 100% 100%;
      line-height: 1.3em;
      letter-spacing: 1.2px;
      }
  /*individual styles desktop*/
    &__one{
      max-width: 650px;
      &__img{
        bottom: -12px;
        right: -20px;
        }
      &__content{
        max-height: 686px!important;
        padding: 41% 20%;
        max-width: 550px;
        max-height: 730px;
        font-size: 16px;
        }
    }
    &__two{
      max-width: 330px;
      min-height: 650px;
      &__img{
        bottom: -10%;
        right: 0%;
        }
      &__content{
        padding: 42% 5% 0px 40px;
        max-height: 520px;
        }
    }
    &__three{
      height: 670px;
      &__img{
        right: -5%;
        bottom: -32px;
      }
      &__content{
      padding: 52% 20% 0px 10%;
      height: 690px;
      font-size: 16px;
      }
    }  
  }
 }
 @media (min-width: 1800px) { 
 .reviews__one__img{
    right: 10px;
    }
 }

@media (max-width: 1200px) { 
  .reviews__slider-wrapper{
    display: block;
  }
 }

@media (max-width: 500px) { 
  .reviews__one, .reviews__two, .reviews__three{
    overflow: hidden;
    &__content{
       font-size: 16px;
       line-height: 0.9em;
    }
  };
 }

 /*----------------------------------------*/
/* ____ Section connection ____ */

.connection{
  &__wrapper{
    max-width: 1075px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
  }
  &__title{
    padding: 60px 0px 135px 0px;
    text-align: center;
    font-family: 'Roboto-Black', Arial, Helvetica;
    font-size: 36px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-family: 'MyriadPro-Regular', Arial, Helvetica;
    font-size: 34px;
    color: #898888;
    text-align: center;
  }
  &__form > input{
    margin-bottom: 30px;
    text-align: center;
    padding: 20px 0px;
    background-color: transparent;
    border: 1px solid #999999;
  }
  &__textarea{
    margin-bottom: 30px;
    background-color: transparent;
    font-size: 21px;
    padding: 30px 40px;
    resize: none;
    border: 1px solid #999999;
  }
  &__submit{
    color: #fefefe!important;
    background-color: #000!important;
  }
  &__submit:hover{
    cursor: pointer;
  }
}
@media(max-width:900px){
  .connection{
    &__title{
      padding: 30px 0px 165px 0px;
      font-size: 28px;
    }
    &__form{
      font-size: 16px;
    }
    &__form > input{
      margin-bottom: 48px;
      padding: 9px 0px;
    }
    &__textarea{
      margin-bottom: 48px;
      font-size: 16px;
      padding: 10px;
    }
}
}

/*----------------------------------------*/
/* ____ Section social ____ */

.social{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  &__link{
    margin: 0px 40px 80px 40px;
  }
}
@media(max-width:900px){
  .social{
    margin-top: 40px;
    &__link{
      margin: 0px 28px 20px 28px;
    }
  }
}

/*----------------------------------------*/
/*----------------------------------------*/
/* ____ Modal window ____ */

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 5; 
  padding-top: 40px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 3px solid #888;
  width: 95%;
  height: 95%;
  position: relative;
}
@media(max-width: 768px){
  .modal {
    padding-top: 0px;
  } 
  .modal-content {
    width: 100%;
    height: 100%;
  }
}

/* The Close Button */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  background-image: url("../images/purchase-images/arrow-back1.svg");
  background-size: contain;
  width: 37px;
  height: 37px;
  border-radius: 50px;
}

.close:hover{
  box-shadow: 0px 0px 10px 8px rgba(255, 153, 0, 0.36),0px 0px 38px 25px rgba(255, 153, 0, 0.40) inset;
  transition: 0.3s;
}
.close:not(:hover){
  transition: 0.7s;
}
// @media(max-width: 1100px){
//   .close{
//   display: none;
//   }
// }


/*----------------------------------------*/
/* ____ Modal content ____ */

/* ____ Section whitePart ____ */
.whitePart{
  padding: 0px 20px;
  max-width: 100%;
  background: url("../images/purchase-images/texture-whitePart.png") no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media(min-width: 768px){
  .whitePart{
    padding: 0px 30px;
    background: url("../images/purchase-images/texture-whitePart-desktop.png") no-repeat;
    background-size: 100% 100%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 75%;
    height: 100%;
  }
}
/*img pack*/
.pack{
  &__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__item{
    padding: 110px 40px 90px 40px;
    max-width: 100%;
  }
  &__toning{
    position: absolute;
    top: 95px;
    left: 0px;
    max-width: 100%;
    opacity: 0.45;
  }
}
@media(min-width: 768px){
  .pack{
    &__wrapper{
      width: 340px;
    }
    &__item{
      padding: 0px 0px 0px 0px;
      width: 270px;
    }
    &__toning{
      width: 340px;
      top: -20px;
    }
  }
  /*adaptive height in desktop*/
@media(max-height: 600px){
  .pack{
    &__wrapper{
      width: 270px;
    }
    &__item{
      padding: 0px 0px 0px 0px;
      width: 200px;
    }
    &__toning{
      width: 270px;
      top: -20px;
    }
  }
}
}

/*column width description, add photo and cards*/
.payment{
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrapper{
    max-width: 420px;
  }
  &__title{
    font-family: 'Montserrat-Bold', Arial, Helvetica;
    font-size: 36px;
    padding-bottom: 35px;
  }
  &__description{
    font-family: 'Montserrat-Light', Arial, Helvetica;
    font-size: 28px;
    padding-bottom: 100px;
    max-width: 420px;
  }
}
@media(min-width: 768px){
  .payment{
    padding: unset;
    max-width: 450px;
    align-items: flex-start;
    &__wrapper{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    &__title{
      font-size: 3.6vh;
      padding-bottom: 10px;
      align-self: center;
    }
    &__description{
      padding-bottom: 20px;
      max-width: 720px;
      font-size: 2.5vh;
    }
  }
}

/*credit cards*/
.card{
  border-bottom: 4px solid #ff9900;
  position: relative;
  min-height: 220px;
  margin-bottom: 10px;
  &__type{
    padding-top: 25px;
    font-family: 'Montserrat-Black', Arial, Helvetica;
    font-size: 36px;
    text-transform: uppercase;
  }
  &__iconsWrapper{
    position: absolute;
    right: 0px;
    top: 0px;
  }
  &__copyIcon{
    position: relative;
    bottom: 10px;
  }
  &__title{
    margin-top: 80px;
    font-family: 'Montserrat-Light', Arial, Helvetica;
    font-size: 25px;
    display: inline-block;
  }
  &__subtitle{
    margin-top: 80px;
    font-family: 'Montserrat-Black', Arial, Helvetica;
    font-size: 25px;
    text-transform: uppercase;
  }
  &__number{
    padding-top: 3px;
    font-family: 'Montserrat-Black', Arial, Helvetica;
    font-size: 15px;
    word-break: break-all;
  }
}
@media(min-width: 768px){
  .cards{
    padding-right: 35px;
  }
  .card{
    min-height: 85px;
    &__type{
      padding-top: 10px;
      font-size: 3.2vh;
    }
    &__iconsWrapper{
      right: -50px;
      top: -5px;
    }
    &__copyIcon{
      display: none;
    }
    &__title{
      margin-top: 30px;
      font-size: 2vh; 
    }
    &__subtitle{
      margin-top: 30px; 
      font-size:  2vh;
    }
    &__number{
      padding-bottom: 10px;
      font-size: 1.4vh;
      padding-right: 98px;
    }
    &__qrIcon{
      width: 70%;
    }
  }
}

/*input -> add photo*/
.addPhoto{
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__input{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 268px;
    height: 270px;
    background-image: url("../images/purchase-images/addPhoto-wrapper.png");
    background-repeat: no-repeat;
  }
  &__customInput{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50px;
  }
  &__iconWrapper{
    position: relative;
  }
  &__text{
    font-family: 'Montserrat-Bold', Arial, Helvetica;
    font-size: 34px;
    position: absolute;
    text-align: center;
    top: 15px;
    left: -35px;
  }
}
@media(min-width: 768px){
  .addPhoto{
    height: 120px;
    justify-content: flex-start;
  
  &__input{
    width: 110px;
    height: 100px;
    background-size: contain;
  }
  &__input input{
    position: absolute;
    z-index: 1;
    height: 100px;
    width: 100%;
  }
  &__icon{
    width: 50%;
    position: relative;
    left: 22px;
  }
  &__text{
    font-size: 15px;
    top: 13px;
    left: -9px;
  }
}
}


/* ____ Section blackPart ____ */
.blackPart{
  height: 980px;
  max-width: 100%;
  background-image: url("../images/purchase-images/texture-blackPart-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
@media(min-width: 768px){
  .blackPart{
    
    height: 100%;
    width: 25%;
    
  }
}

/*client form*/
.clientInfo{
  padding-top: 100px;
  max-width: 520px;
  &__wrapper{
    display: flex;
    align-items: top;
    justify-content: center;
    height: 690px;
    background-image: url("../images/purchase-images/texture-connection.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &__form{
    max-width: 60%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    color:#ff9900;
  }
  &__input{
    font-family: 'Montserrat-Light', Arial, Helvetica;
    font-size: 23px;
    margin-top: 60px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ff9900 ;
    color: #ff9900!important;
    background-color: transparent;
  }
  &__input::placeholder{
    color: #ff9900;
  }
  &__input:focus{
    outline: none;
  }
  &__submit{
    font-family: 'Montserrat-Bold', Arial, Helvetica;
    font-size: 29px;
    color: #ffff;
    background-color: transparent;
    border: 5px solid #ff9900;
    border-radius: 100px;
    padding: 15px;
    margin-top: 45px;
  }
  &__submit:hover{
    box-shadow: 0px 0px 30px 10px rgba(255, 153, 0, 0.45),0px 0px 30px 9px rgba(255, 153, 0, 0.45) inset;
    transition: 0.3s;
  }
  &__submit:not(:hover){
    transition: 0.7s;
  }
}

@media(min-width: 768px){
  .clientInfo{
    height: 100%;
    width: 90%;
    &__wrapper{
      height: 80%;
    }
    &__form{
      max-width: 65%;
      padding-top: 15%;
    }
    &__input{
      font-size: 2vh;
      margin-top: 15%;
      padding-bottom: 5px;
    }
    &__submit{
      font-size: 2.7vh;
      border: 4px solid #ff9900;
      padding: 10px;
      margin-top: 20%;
    }
  }
  /*adaptive height in desktop*/
@media(max-height: 600px){
  .clientInfo{
    &__form{
      padding-top: 5%;
    }
  }
}
}

/*wrapper for desktop*/
@media(min-width: 768px){
  .wrapperPurchase{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
}